<h4>Post a Comment</h4>
<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :author_name, "Your Name"  %>
    <%= f.text_field :author_name,placeholder: "Type your name here" %>
  </p>
  <p>
    <%= f.label :body, "Your comments go here..." %><br/>
    <%= f.text_area :body, placeholder: "Here you make your text" %>
  </p>
  <p>
    <p>
      <%= f.label :date, "Your birthdate"%><br/>
      <%= f.date_field :date, placeholder: "dd/mm/yyyy" %>
    </p>
    <p>
    <br>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
<p></p>
