<div>
  <h4>The author of this comment is: <%= comment.author_name %></h4>
  <p class="comment"><%= comment.body %></p>
  <p class="comment"><%= comment.date %></p>
  <p>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> after the article has been published.</p>
</div>
