<h1>Blogged Super Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
       <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>

</ul>

<%= link_to 'Create New Article Now!', new_article_path, class: "new_article" %>
<br>
<br>
<p><%= link_to "Check the tags we have for you >>", tags_path %></p>
