<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br>
<p><%= image_tag @article.image.url(:medium) %></p>
<br>
<h3>Comments on this post(<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<p>
  Your Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "delete", article_path(@article),data: {confirm:"Do you want to delete this for real?"}, method: :delete %>
<%= render partial: 'comments/form' %>
<p><%= link_to "<< Back to Articles List", articles_path %></p>
