<h1>Your tags so far are...</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
       <%= link_to tag.name, tag_path(tag.id) %>
       <%= link_to "Erase", tag_path(tag.id),data: {confirm:"This will be gone for good,ok?"}, method: :delete %>
    </li>
  <% end %>
  <li>
    <br>
    <br>
    <p><%= link_to "<< Back to Articles List", articles_path %></p>
  </li
</ul>
