<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
  <br>
  <br>
  <p><%= link_to "Check the tags we have for you >>", tags_path %></p>
</ul>
